spring:
  application:
    name: ecologique
  datasource:
    url: jdbc:postgresql://localhost:5432/ecologique
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    schemas: products,users,payment,inventory,shipping
    locations:
      - classpath:db/migration/products

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
