spring:
  application:
    name: ecologique
  datasource:
    url: jdbc:postgresql://localhost:5432/economique
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    schemas: products,users,payment,inventory,shipping

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info