spring:
  application:
    name: ecologique
  datasource:
    url: jdbc:postgresql://localhost:5432/ecologique
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8180/realms/ecologique
          jwk-set-uri: http://localhost:8180/realms/ecologique/protocol/openid-connect/certs
  flyway:
    enabled: false

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
